.modal {
  position: absolute;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.01em;
  text-align: left;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 528px;
  min-height: 581px;
  padding: 40px 39px 40px 41px;

  background-color: #ffffff;

  &-close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    top: 0;
    right: 0;

    width: 30px;
    height: 30px;
    margin-top: 8px;
    margin-right: 8px;
    border-radius: 50%;
    @include border(rgba(0, 0, 0, 0.1));

    background-color: #fff;
  }

  &-close-button:hover,
  &-close-button:hover {
    fill: $buttons-links-colour;
  }

  &-header {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 12px;
  }

  &__contract-checkbox {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
  &__contract-checkbox-link {
    text-decoration: underline;
    color: blue;
  }

  &-textarea::placeholder {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
  }

  &-textarea {
    width: 448px;
    resize: none;
    padding: 12px 16px;
    margin-bottom: 25px;
    @include border(rgba(33, 33, 33, 0.2));

    border-radius: 4px;
    @include transition(border-color);
  }
  &-input__container {
    position: relative;

    display: flex;
    flex-direction: column;
  }
  &-label {
    margin-bottom: 4px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 40;
    font-size: 12px;
    line-height: 1.14;

    letter-spacing: 0.01em;
    display: flex;
    flex-direction: column;
  }

  &-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 13px;
    width: 18px;
    height: 18px;
    @include transition(fill);
  }

  &-submit__button {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  &-checkbox__input:checked + .custom-checkbox {
    border-color: $buttons-links-colour;
    background-image: url(../images/images-homework-6/vector.svg);
    background-color: $buttons-links-colour;
    background-size: auto;
    background-repeat: no-repeat;
  }

  &-checkbox__submit {
    position: relative;

    padding-left: 30px;
    margin-bottom: 30px;
  }

  &-input__container:focus svg,
  &-input__container:hover svg,
  &-input__container:hover .modal-input,
  &-input__container:focus .modal-input,
  &-input__container:hover .modal-textarea,
  &-input__container:focus .modal-textarea {
    fill: $buttons-links-colour;
    border-color: $buttons-links-colour;
  }

  &-input {
    @include border(rgba(33, 33, 33, 0.2));

    border-radius: 4px;
    padding-left: 40px;
    height: 40px;
    margin-bottom: 10px;
    @include transition(border-color);
  }

  &-checkbox__input {
    appearance: none;
  }
}

.custom-checkbox {
  position: absolute;
  display: block;
  left: 0;
  bottom: 50%;
  transform: translateY(50%);
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
